html, body {
    height: 100%;
}

.background {
    background-image: url("../img/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 56px;
    background-color: rgba(0,0,0,0.3);


}

.journey {
    margin-left: 80px;

    color: white;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;

}
.journey:hover {

    color: #3cb878;

}

.location {
    position: relative;
}
.sprite_wrapper {
    display: inline-block;
}

/*.sprite*/
/*{ display: inline-block;*/
/*    position: relative;*/
/*    background: url('../img/sprite1.png') no-repeat;*/
/*    overflow: hidden;*/
/*    text-indent: -9999px;*/
/*    text-align: left;*/
/*margin:10px;*/
/*}*/


.sprite
{
    display: inline-block;
    background: url('../img/sprite1.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    margin:10px;}

.ic-forum{ background-position: -10px -0px; width: 28px; height: 20px; }
.ic-journey { background-position: -10px -60px; width: 20px; height: 20px; }
.ic-calendar { background-position: -10px -120px; width: 19px; height: 19px; }


.ic-forum:hover { background-position: -10px -30px; width: 28px; height: 20px; }
.ic-journey:hover { background-position: -10px -90px; width: 20px; height: 20px; }
.ic-calendar:hover { background-position: -10px -149px; width: 19px; height: 19px; }


.join {
    margin-right: 75px;
    position: relative;
    bottom: 15px;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.subscribe {
    color: #3cb878;
}

/*.container {*/
/*    position: relative;*/
/*    height: 85%;*/
/*}*/

.modal {
    width: 476px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 28px));
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    background-color: white;
    border-radius: 8px;
}

.green-sq {
    position: absolute;
    top:26px;
}

.containment {
    width: 322px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.modal-header {
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    justify-content: space-between;

}

.sign-up {
    text-decoration: none;
    flex-basis: 160px;
    text-align: left;
    height: 20px;
    margin-bottom: 17px;
    margin-top: 5px;
    color: #434343;
    font-family: Verdana,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

.log-in {
    flex-basis: 160px;
    text-align: right;
    height: 20px;
    margin-bottom: 17px;
    margin-top: 5px;
    color: #3cb878;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}
.icon-facebook {
    padding: 0 10px 0 0;
    border-right: 1px solid gray;
    color: white;
}

.facebook-auth {
    text-decoration: none;
    flex-basis: 120px;
    height: 17px;
    border-radius: 5px;
    color: white;
    background-color: #0000ff;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 25px;
}

.icon-google-plus {
    padding: 0 10px 0 0;
    border-right: 1px solid gray;
    color: white;
}

.google-auth {
    text-decoration: none;
    flex-basis: 120px;
    height: 17px;
    border-radius: 5px;
    color: white;
    background-color: #df4a32;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 25px;
}

.left-line {
    width: 140px;
color:rgba(125, 128, 128, 0.36);
    margin-top: 7px;

}
.or-text {
    color:rgba(125, 128, 128, 0.36);
    margin-top: 7px;
}
.right-line {
    width: 140px;
    color:rgba(125, 128, 128, 0.36);
    margin-top: 7px;
}
.name-input {
    margin-top: 20px;
    height: 46px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    margin-bottom: 10px;
    padding: 8px;
    font-size: 18px;
    border: 1px solid rgba(125, 128, 128, 0.36);
    border-radius: 2px;
}
.input {
    height: 46px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgba(125, 128, 128, 0.36);
    border-radius: 2px;
}
.input:focus, .name-input:focus  {
    outline: none;
    box-shadow:  0 3px 8px rgba(0, 0, 0, 0.21);
}
.agreement {
    display: block;
    width:100%;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 18px;
}
.copyright {
    color: #3cb878;
    text-decoration: none;
}
.create-account {
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    color: #bebebe;
    background-color: #3cb878;
    padding: 10px;
    margin: 15px 0 28px 0;
    font-size: 18px;
}