.column-adder {
    margin: 10px;
}

.column-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.column {
    background-color: azure;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    min-width: 480px;
    min-height: 200px;
}

.button-add-card {
    display: inline-block;
    margin: 10px
}
.button-alphabet {
    margin: 10px;
}

.card {
    width: 460px;
    height: 100px;
    background-color: beige;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}