.background {

    background-image: url(../img/back.png);
    background-size:cover;
}

.content {
    width: 1120px;
    margin: auto;
    height: 768px;
}

.header {
    padding-top: 44px;
    margin-bottom: 45px;

}

.main-logo {
    display:block;
    float:left;
    width:300px;
}
.logo {
    float: left;
    width: 46px;
    height: 44px;
    background-image: url(../img/logo.png);
}


.title {
    margin-top: 4px;
    margin-left: 12px;
    width: 104px;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    display: inline-block;
}
.holidays {
    /* Style for "HOLIDAYS" */
    margin-left: -1px;
    width: 104px;
    height: 13px;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}
.contacts {
    float: right;
    text-align: right;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}

.contact-item {
    display: block;
    text-align: right;

}





.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.options {
    padding-bottom: 0;
}

.block {
    display: block;
    position:relative;
    width: 308px;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;

}



.name {
    display: block;
    /* Style for "Shopping T" */
    height: 18px;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.view {
    display: none;
    background-color: darkorange;
    width:100%;
    padding-top:10px;
}
.price {
    float:left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.text {
    display: block;
    text-align: left;
    font-size: 12px;
}
.icon-eur {
    display: block;
    text-align: left;
    padding: 2px;
    color: white;
    width: 38px;
    height: 30px;
    font-size: 25px;
    font-weight: 400;
    line-height: 21px;
}

.details {
    float: right;
    padding: 5px;
}

.details:after {
    content: "  >";
}

.block:hover .view {
    position: absolute;
    bottom:22px;

    display: inline-block;

}
.block:hover .name {
    color:darkorange;
}
.main-logo:hover .logo {
    background-image: url(../img/logo_orange.png); }

.main-logo:hover .title{
    color:darkorange;
}

.image_2, .image_5 {
    margin-left: 95px;
}

.image_1, .image_4 {
    float: left;
}

.image_2, .image_5 {
    float: left;
}

.image_3, .image_6 {
    float: right;
}

.image_4, .image_5, .image_6 {
    margin-top: 90px;
}

.copyright {
    margin: 40px auto;
    text-align: center;
    /* Style for "© 2018 Cop" */
    width: 349px;
    height: 14px;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}