

.table-wrapper {
    margin: auto;
    /*height: 736px;*/
    width: 1192px;

}

.table {
    background-color: white;
    border-top:26px solid #3A4966;
    border-bottom: 32px solid #3A4966;
    border-right: 28px solid #3A4966;
    border-left: 20px solid #3A4966;
    text-transform: uppercase;
    text-align: center;

}
[data-theme="dark"] {
    background: grey;
}


th:not(.price) {
    font-size: 30px;
    vertical-align: center;
    font-family: 'Arimo', sans-serif;
    box-shadow: 1px 1px 1px 1px #ccc;
    height:66px;
    width:277px;
    box-sizing: border-box;

}

th:not(:first-child):not(.price) {
    color: white;
}

th:nth-child(1):not(.price) {
    vertical-align: auto;
    color: #484848;
}
.price {
    height:84px;
    width:277px;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #484848;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

td {
    height:67px;
    width:277px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #484848;
}

.price-int {
    font-size: 50px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
}

.price-float {
    vertical-align: top;
    line-height: 35px;
    font-family: 'Arimo', sans-serif;
}

.text-data {
    display: inline-block;
    transform: translate(-25px);
    font-family: 'Arimo', sans-serif;
}

tbody tr:nth-child(even) {
    background-color: rgba(122, 122, 122, 0.44);
}

.text-choose {
    display: block;
    text-align: center;
    font-size: 20px;
}

.text-plan {
    display: block;
    text-align: center;
    font-size: 30px;
}

.contact, .buy1, .buy2, .buy3 {
    box-sizing: border-box;
    width: 192px;
    height: 49px;
    margin:29px 0;
    border-radius: 5px;
}

.contact {
    background-color: #505050;
    color: white;
    font-family:'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;

}

.buy1 {
    background-color: #89C331;
    color: white;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;

}

.buy2 {
    background-color: #F04A56;
    color: white;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;

}

.buy3 {
    background-color: #20807C;
    color: white;
    font-family:'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;

}

.btn:hover {
    background-color: #010436;
}

thead tr th:nth-child(2):not(.price) {
    background-color: #89C331;
}

thead tr th:nth-child(3):not(.price) {
    background-color: #F04A56;
}

thead tr th:nth-child(4):not(.price){
    background-color: #20807C;
}
