@font-face {
    font-family: "OpenSans-Bold";
    src: url('../fonts/OpenSans-Bold.ttf');
}

.main-container {

    margin: auto;
}

.flex-part {
}

.header {
width: 100%;
    background-color: #212121;

    box-sizing: border-box;


}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    text-decoration: none;
    padding-left: 20px;
    /*margin-left: 20px;*/
    /*margin-top: 5px;*/
}

.logo-text {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    transform: translate(10px, -6px);
}

.menu-item {

    display: inline-block;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}

.search-wrapper {
    display: inline-block;
    background: #0b0b0b;
    height: 100%;
}

.img-search {

padding:20px ;
}

.news-wrapper {
    background-image: url("../img/header.jpeg");
    padding: 125px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.news-flex {

    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 386px;

    font-size: 18px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.subscribe, .articles {
    height: 55px;
    width: 170px;
    box-sizing: border-box;
    border: none;
    padding: 17px 17px;
    border-radius: 3px;
    color: white;
}

.subscribe {
    background-color: #89CA62;

}

.articles {
    background-color: #12BAD5;
}


.block-header {
    width: 1174px;
    margin: 0 auto 50px;
    text-align: center;


    color: #18b4cf;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}

.posts {
    padding-top: 60px;
    background-image: url("../img/background-posts.png");
}
.mostpop-flex {

    height: 1030px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1170px;
    margin: auto;

    padding-bottom: 53px;
    align-content: space-between;
}
.post {
    margin:10px 0;
}

.post-text {
    padding: 20px 32px;
    width: 370px;
    box-sizing: border-box;
    background: white;
    text-align: center;
    color: #353a3d;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.grid-part {

    box-sizing: border-box;
}

.clients {
    background-image: url(../img/parallax.jpeg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 225px;
    display: grid;
    justify-content: center;

}

.clients-grid {
    display: grid;
    grid-template-areas: 'our-clients our-clients our-clients our-clients' 'line line line line' 'brand1 brand2 brand3 brand4';
    align-items: start;
    justify-content: space-between;
    width: 886px;



}

.our-clients {
    display: inline-block;
    grid-area: our-clients;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    align-self: end;
    position: relative;

}

.line {

    grid-area: line;
    background: #0b4f5c;
    height: 5px;
    position: relative;
    margin: 20px;

    left: 50%;

    transform: translate(-50%);
    display: inline-block;

    width: 60px;

}


.brand1 {
    grid-area: brand1;
    margin: 0 30px 15px;
    /*align-self: start;*/
}

.brand2 {
    grid-area: brand2;
    margin: 0 30px 15px;


}

.brand3 {
    grid-area: brand3;
    margin: 0 30px 15px;


}

.brand4 {
    grid-area: brand4;
    margin: 0 30px 15px;

}

.top-rated {
    padding-top: 60px;
}

.grid-top-rated {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.news-grid {
    display: grid;
    margin: 0 auto 70px;
    width: 1170px;
    justify-content: space-between;
    grid-template-areas: 'news1 news1 news1 news2' 'news3 news3 news4 news4' 'news5 news5 news6 news6' 'news7 news8 news8 news8';
    grid-gap:10px;

}


.news1 {
    grid-area: news1;
    margin-bottom: 20px;
    width: 100%;
}

.news2 {
    grid-area: news2;
    margin-bottom: 20px;
    width: 100%;

}

.news3 {
    grid-area: news3;
    margin-bottom: 20px;
    width: 100%;

}

.news4 {
    grid-area: news4;
    margin-bottom: 20px;
    width: 100%;

}

.news5 {
    grid-area: news5;
    margin-bottom: 20px;
    width: 100%;

}

.news6 {
    grid-area: news6;
    margin-bottom: 20px;
    width: 100%;

}

.news7 {
    grid-area: news7;
    margin-bottom: 20px;
    width: 100%;


}

.news8 {
    grid-area: news8;
    margin-bottom: 20px;
    width: 100%;

}

.hot-news {
    padding-top: 60px;
}

.news-long {

    width: 100%;
    /*height: 259px;*/
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    background-color: #f9f7f7;
    display: grid;
    grid-template-areas: 'img text';

}


.img {
    grid-area: img;
    width: 100%;

}
.img-post {
    width:100%;
}

.news-text-box {
    margin: 20px;
    width: 330px;
    grid-area: text;

}

.news-text-bold {
    margin-bottom: 20px;
    color: #353a3d;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}

.news-text {
    color: #5b6469;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}

.news-text-bold-bottom {
    padding: 18px;
    width: 277px;
    box-sizing: border-box;
    background-color: #f9f7f7;
    text-align: center;
    color: #353a3d;
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    font-weight: 700;
}

.news-text-box-bottom {

    padding: 20px;
    box-sizing: border-box;
    background: #f9f7f7;
}

.footer {
    background: #21292e;
    padding: 25px 0;

}

.grid-footer {
    display: grid;
    margin: 0 auto;
    width: 1170px;
    justify-content: space-between;
    grid-template-areas: 'copy footer' ;



}


.copy {
    grid-area: copy;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    align-self: center;
    display: inline-block;
    margin: auto 0;


}

.logo-footer {
    grid-area: footer;
    display: block;
    width:160px;
}