body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}



.star-wars {

    position: relative;
    height: 800px;
    color: #7c7c00;
    font-family: sans-serif;
    font-size: 700%;
    font-weight: 700;
    perspective: 400px;
    text-align: center;
}

.animation {
    position: relative;
    animation: animation 30s linear;
    animation-iteration-count:infinite;
}

.title {
    margin-bottom: 100px;
    text-transform: uppercase;

}

@keyframes animation {
    0% {
        top: 0;
        transform: rotateX(30deg)  translateZ(0);
    }
    100% {
        top: -5900px;
        transform: rotateX(30deg) translateZ(-2500px);
    }
}