$icon-width: 43px
$icon-height: 37px
$title-margin: 18px
$title-font: 12px
body
  font-family: "Montserrat", sans-serif
  margin: 0
  overflow-x: hidden

@media only screen and (min-width: 320px) and (max-width: 639px)

  .header
    background-color: #333d3f
    display: flex
    align-items: center
    justify-content: space-between

  .dropdown
    position: relative

  .header__title
    color: #FFFFFF
    display: inline-block
    margin-left: $title-margin
    margin-bottom: 2px
    font-size: $title-font
    font-weight: 900

  .dropdown-content
    display: none
    position: absolute
    right: 0
    background-color: #f9f9f9
    min-width: 182px
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    z-index: 1

  .menu__icon
    //background: url("../img/menu-symbol.png")
    height: $icon-height
    width: $icon-width
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #1c2a33
  //&:hover
    //background: url("../img/cancel.png")

  //&:hover .dropdown-content
    display: block
  .bar1, .bar2, .bar3
    width: 20px
    height: 2px
    background-color: white
    margin: 2px
    transition: 0.1s

  .change .bar1
    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
    transform: rotate(-45deg) translate(-1px, 8px)
    margin-right: 12px


  .change .bar2
    opacity: 0


  .change .bar3
    -webkit-transform: rotate(45deg) translate(-8px, -8px)
    transform: rotate(45deg) translate(-1px, -8px)
    margin-right: 12px


  .dropdown-link
    padding: 10px 14px
    text-decoration: none
    display: block
    text-align: left
    color: #444444
    font-family: Lato, sans-serif
    font-size: 12px

    &:hover
      background-color: #f1f1f1

  .dropdown-link--position
    position: relative
    top: 2px


  .background
    background: url("../img/1p.png") no-repeat
    height: 173px
    background-size: cover

  .background__flexContainer
    padding: 12px 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 68px

  .background__textContainer
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 16px
    font-weight: 700
    padding-top: 2px

  .background__text
    font-family: Lato, sans-serif
    font-size: 15.2px
    font-weight: 700
    line-height: 23px


  .background__link
    text-decoration: none
    color: #a6d6e0
    font-family: Lato, sans-serif
    font-size: 14px
    font-weight: 700
    display: flex
    text-align: left

  .foodCategories
    margin-top: 4px
    //display: grid
    //grid-auto-columns: auto
    //grid-gap: 1px 0


  .foodCategories__arrow
    background: url("../img/arrow320.png")
    z-index: 99
    height: 75px
    width: 95px

  .foodCategories__category1, .foodCategories__category2, .foodCategories__category3
    display: flex
    height: 75px
    text-decoration: none
    color: #FFFFFF
  .foodCategories__category2
    margin: 1px 0
  .foodCategories__textContainer
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 20px
    font-weight: 700
    display: flex
    justify-content: center
    align-items: center
    width: 100%


  .foodCategories__textContainer1
    background: url("../img/1-320.png") no-repeat
    width: 100%
    background-size: cover
  .foodCategories__textContainer2
    background: url("../img/2-320.png") no-repeat
    width: 100%
    background-size: cover

  .foodCategories__textContainer3
    background: url("../img/3-320.png") no-repeat
    width: 100%
    background-size: cover


  .foodCategories__text1
    position: relative
    left: 1px
    letter-spacing: -1px
    text-decoration: none
    color: #FFFFFF

  .foodCategories__text2
    position: relative
    top: 2px
    left: 12px
    letter-spacing: -1px
    text-decoration: none
    color: #FFFFFF
  .foodCategories__text3
    position: relative
    //right: 3px
    top: 1px
    text-decoration: none
    color: #FFFFFF

  .dishes__title
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 19.8px
    font-weight: 400
    text-transform: uppercase
    margin-top: 26px
    position: relative
    margin-left: 8px
    bottom: 2px

  .dishes__description
    color: #cbccce
    font-family: Lato, sans-serif
    font-size: 10px
    font-weight: 400
    position: relative
    margin-left: 9px
    margin-bottom: 11px

  .dishes__strip
  //display: flex
  //justify-content: space-between

  .dishes__strip--dark
    background-color: #3f4043
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 19.6px
    font-weight: 400
    text-transform: uppercase
    padding: 10px 0 7.6px 18px
    letter-spacing: 0.4px

  .condensed-string
    letter-spacing: -0.6px

  .dishes__menu__title
    display: flex
    justify-content: space-between
    padding: 17px 17px 8px 17px

  .dishes__menu__title__text
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 15px
    font-weight: 400
    text-transform: uppercase
    position: relative

  .dishes__menu__title__img
    position: relative
    bottom: 6px
    left: 1px

  .dishes__menu__title__img1
    background: url("../img/snowflake.png") no-repeat
    height: 25px
    width: 25px

  .dishes__menu__title__img2
    background: url("../img/wine.png") no-repeat
    height: 25px
    width: 25px
    position: relative
    bottom: 1px
    left: 3px


  .dishes__menu__title__img3
    background: url("../img/cap.png") no-repeat
    height: 25px
    width: 30px
  .dishes__menu__title__img4
    background: url("../img/mug.png") no-repeat
    height: 25px
    width: 25px
    margin-top: -4px
    position: relative
    right: 1px
    top: 0

  .dishes__menu__itemsContainer
    padding: 0 17px
    margin-bottom: -9px

  .container--position
    position: relative
    top: 5px

  .dishes__menu__item
    padding-bottom: 9.9px

  .dishes__menu__item__dishContainer
    display: flex
    justify-content: space-between

  .dishes__menu__item__dish
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.3px
  .dishes__menu__item__price
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 14px
    font-weight: 700
    position: relative
    left: 2px

  .dishes__menu__item__dishDescription
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 9.11px
    font-weight: 400
    padding-top: 7px
    letter-spacing: 0.13px
    line-height: 10px

  .dishDescription--condensed
    font-size: 9.1px
    letter-spacing: -0.2px
    position: relative
    right: 2px


  .dishes__menu__title__img__wine
    position: relative
    right: 7.5px
    bottom: 1px

  .descr--position1
    position: relative
    bottom: 2px
  .descr--position2
    position: relative
    top: 4px


  .dishes__strip--green
    background-color: #204316
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 19.6px
    font-weight: 400
    text-transform: uppercase
    padding: 10px 0 7.6px 18px
    letter-spacing: 0.2px
    margin-top: 30px

  .title--position
    margin-bottom: 5px

  .title--position2
    margin-bottom: 5px
    position: relative
    top: 5px

  .footer
    margin-top: 46px
    background-color: #acd8ad
    color: #ffffff
    font-family: Montserrat, sans-serif
    font-size: 12px
    font-weight: 400
    line-height: 16px
    text-align: center

  .footer__text
    padding: 13px 38px 11px 41px

  .footer__text__description
    text-align: left
    width: 241px
    position: relative
    margin-right: 20px
    white-space: nowrap

@media only screen and (min-width: 480px) and (max-width: 640px)
  .header
    background-color: #333d3f
    display: flex
    align-items: center
    justify-content: space-between

  .dropdown
    position: relative

  .header__title
    color: #FFFFFF
    display: inline-block
    margin-left: $title-margin*2
    margin-bottom: 2px
    font-size: $title-font*2
    font-weight: 900

  .dropdown-content
    display: none
    position: absolute
    right: 0
    background-color: #f9f9f9
    min-width: 249px
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    z-index: 1

  .menu__icon
    height: $icon-height*2
    width: $icon-width*2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #1c2a33

  .bar1, .bar2, .bar3
    width: 30px
    height: 4px
    background-color: white
    margin: 2px
    transition: 0.1s
    position: relative
    bottom: 1px
    left: 1px

  .change .bar1
    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
    transform: rotate(-45deg) translate(-3px, 8px)
    margin-right: 12px


  .change .bar2
    opacity: 0


  .change .bar3
    -webkit-transform: rotate(45deg) translate(-8px, -8px)
    transform: rotate(45deg) translate(-3px, -8px)
    margin-right: 12px


  .dropdown-link
    padding: 12px 34px
    text-decoration: none
    display: block
    text-align: left
    color: #444444
    font-family: Lato, sans-serif
    font-size: 18px

    &:hover
      background-color: #f1f1f1

  .dropdown-link--position
    position: relative
    top: 2px

  .background
    background: url("../img/back640.png") no-repeat
    height: 346px
    background-size: cover

    .background__flexContainer
      padding: 27px 36px
      display: flex
      flex-direction: column
      justify-content: space-between
      height: 118px

    .background__textContainer
      color: #ffffff
      font-family: Lato, sans-serif
      font-size: 32px
      font-weight: 700

    .background__text
      font-family: Lato, sans-serif
      font-size: 32px
      font-weight: 700
      letter-spacing: 1.7px
      line-height: 39px


    .background__link
      text-decoration: none
      color: #a6d6e0
      font-family: Lato, sans-serif
      font-size: 24px
      font-weight: 700
      display: flex
      text-align: left

  .foodCategories
    margin-top: 4px
    //display: grid
    //grid-auto-columns: auto
    //grid-gap: 3px 0

  .foodCategories__arrow
    background: url("../img/arrow640.png")
    z-index: 99
    height: 149px
    width: 182px

  .foodCategories__category1, .foodCategories__category2, .foodCategories__category3
    display: flex
    height: 149px
    text-decoration: none
    color: #FFFFFF

  .foodCategories__category2
    margin: 3px 0

  .foodCategories__textContainer
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 33px
    font-weight: 700
    display: flex
    justify-content: center
    align-items: center
    width: 100%


  .foodCategories__textContainer1
    background: url("../img/1-640.png") no-repeat
    width: 100%
    background-size: cover

  .foodCategories__textContainer2
    background: url("../img/2-640.png") no-repeat
    width: 100%
    background-size: cover
  .foodCategories__textContainer3
    background: url("../img/3-640.png") no-repeat
    width: 100%
    background-size: cover


  .foodCategories__text1
    position: relative
    left: 1px
    text-decoration: none
    color: #FFFFFF
  .foodCategories__text2
    position: relative
    top: 2px
    left: 11px
    text-decoration: none
    color: #FFFFFF
  .foodCategories__text3
    position: relative
    right: 3px
    top: 1px
    text-decoration: none
    color: #FFFFFF

  .dishes__title
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 38px
    font-weight: 400
    text-transform: uppercase
    margin-top: 52px
    position: relative
    margin-left: 20px
    bottom: 12px

  .dishes__description
    color: #cbccce
    font-family: Lato, sans-serif
    font-size: 20px
    font-weight: 400
    position: relative
    margin-left: 18px
    margin-bottom: 16px

  .dishes__strip
  //display: flex
  //justify-content: space-between

  .dishes__strip--dark
    background-color: #3f4043
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 38px
    font-weight: 400
    text-transform: uppercase
    padding: 22px 0 14px 36px
    letter-spacing: 0.4px


  .dishes__menu__title
    display: flex
    justify-content: space-between
    padding: 34px 34px 16px 34px

  .dishes__menu__title__text
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 400
    text-transform: uppercase
    position: relative

  .dishes__menu__title__img
    width: 50px
    height: 50px
    position: relative
    bottom: 6px
    left: 1px

  .dishes__menu__title__img1
    background: url("../img/snow640.png") no-repeat
  .dishes__menu__title__img2
    background: url("../img/wine640.png") no-repeat
  .dishes__menu__title__img3
    background: url("../img/cup640.png") no-repeat
  .dishes__menu__title__img4
    background: url("../img/mug640.png") no-repeat

  .dishes__menu__itemsContainer
    padding: 0 34px
    margin-bottom: -18px

  .dishes__menu__item
    padding-bottom: 19.2px

  .dishes__menu__item__dishContainer
    display: flex
    justify-content: space-between

  .dishes__menu__item__dish
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 400
    letter-spacing: -0.3px
  .dishes__menu__item__price
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 700

  .dishes__menu__item__dishDescription
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 18px
    font-weight: 400
    padding-top: 14px
    letter-spacing: 0.1px
    line-height: 20px

  .dishDescription--condensed
    font-size: 18px
    letter-spacing: -0.2px
    position: relative
    right: 2px


  .dishes__menu__title__img__wine
    position: relative
    right: 7.5px
    bottom: 1px

  .descr--position1
    position: relative
    bottom: 2px
  .descr--position2
    position: relative
    top: 2px


  .dishes__strip--green
    background-color: #204316
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 40px
    font-weight: 400
    text-transform: uppercase
    padding: 20px 0 15px 36px
    letter-spacing: 0.2px
    margin-top: 30px

  .title--position
    margin-bottom: 5px

  .footer
    margin-top: 108px
    background-color: #acd8ad
    color: #ffffff
    font-family: Montserrat, sans-serif
    font-size: 18px
    font-weight: 400
    line-height: 32px
    text-align: center
    height: 97px

  .footer__text
    padding: 20px 76px 22px 82px

  .footer__text__description
    text-align: left
    width: 482px
    position: relative
    margin-right: 40px
    white-space: nowrap


@media screen and (min-width: 641px) and (max-width: 980px)
  .header
    background-color: #333d3f
    display: flex
    align-items: center
    justify-content: space-between

  .main
    //margin-top: 105px

  .dropdown
    position: relative

  .header__title
    display: none

  .dropdown-content
    background-color: #333d3f
    text-decoration: none
    display: block
    //position: absolute
    //left: 0
    //width: 100%
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    color: #FFFFFF
    padding: 42px 5px

  .dropdown-link
    height: 14px
    color: #ebebeb
    font-family: Montserrat, sans-serif
    font-size: 15px
    font-weight: 400
    line-height: 26px
    text-transform: uppercase
    padding: 0 16px
    text-decoration: none
    display: inline-block
    text-align: left
    white-space: nowrap

    &:hover
      background-color: #f1f1f1
  .dropdown-link:first-child
    padding-left: 7px

  .menu__icon
    display: none

  .title-img
    background: url("../img/navigation-logo.png")
    width: 104px
    height: 83px
    position: absolute
    right: 30px
    top: 8px

  .background
    background: url("../img/back980.png") no-repeat
    height: 530px
    background-size: cover

  .background__flexContainer
    padding: 40px 58px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 68px
    line-height: 68px

  .background__textContainer
    width: 561px
    height: 117px
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 50px
    font-weight: 700
    white-space: nowrap

  .background__text


  .background__link
    margin-top: 50px
    text-decoration: none
    color: #a6d6e0
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 700
    display: flex
    text-align: left

  .foodCategories
    display: flex
    justify-content: center
    align-items: center

  .foodCategories__category1, .foodCategories__category2, .foodCategories__category3
    margin-top: 6px
    display: flex
    height: 327px
    width: 327px
    text-decoration: none
    color: #FFFFFF
    justify-content: center
    align-items: center

  .foodCategories__category1
    background: url("../img/1-980.png") no-repeat
    width: calc(100% / 3 )
    background-size: cover

  .foodCategories__category2
    background: url("../img/2-980.png") no-repeat
    width: calc(100% / 3 )
    background-size: cover

  .foodCategories__category3
    background: url("../img/3-980.png") no-repeat
    width: calc(100% / 3 )
    background-size: cover

  .foodCategories__text1, .foodCategories__text2, .foodCategories__text3
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 38px
    font-weight: 700

  .dishes__title__container
    display: flex
    justify-content: space-between
  .dishes__title
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 38px
    font-weight: 400
    text-transform: uppercase
    margin-top: 52px
    position: relative
    left: 20px
    bottom: 12px

  .dishes__description
    color: #cbccce
    font-family: Lato, sans-serif
    font-size: 20px
    font-weight: 400
    position: relative
    left: 18px
    margin-bottom: 16px

  .dishes__title__img
    background: url("../img/dishes.png")
    width: 109px
    height: 89px
    position: relative
    right: 35px
    top: 10px

  .dishes__columnContainer
    display: flex

  .column1
    width: 100%

  .column2
    width: 100%
    position: relative

  .dishes__strip--dark
    background-color: #3f4043
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 19.6px
    font-weight: 400
    text-transform: uppercase
    padding: 10px 0 7.6px 18px
    letter-spacing: 0.4px

  .condensed-string
    letter-spacing: -0.6px

  .dishes__menu__title
    display: flex
    justify-content: space-between
    padding: 17px 17px 8px 17px

  .dishes__menu__title__text
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 15px
    font-weight: 400
    text-transform: uppercase
    position: relative

  .dishes__menu__title__img
    position: relative
  //bottom: 6px
  //left: 1px

  .dishes__menu__title__img1
    background: url("../img/snowflake.png") no-repeat
    height: 25px
    width: 25px

  .dishes__menu__title__img2
    background: url("../img/wine.png") no-repeat
    height: 25px
    width: 25px
    position: relative
    bottom: 1px
    left: 3px


  .dishes__menu__title__img3
    background: url("../img/cap.png") no-repeat
    height: 25px
    width: 30px
    position: relative
    right: 5px
  .dishes__menu__title__img4
    background: url("../img/mug.png") no-repeat
    height: 25px
    width: 25px
    margin-top: -4px
    position: relative
    right: 1px
    top: 0

  .dishes__menu__itemsContainer
    padding: 0 17px
    margin-bottom: -9px

  .container--position
    position: relative
    top: 5px

  .dishes__menu__item
    padding-bottom: 9.9px

  .dishes__menu__item__dishContainer
    display: flex
    justify-content: space-between

  .dishes__menu__item__dish
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 14px
    font-weight: 400
    letter-spacing: -0.3px
  .dishes__menu__item__price
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 14px
    font-weight: 700
    position: relative
    left: 2px

  .dishes__menu__item__dishDescription
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 9.11px
    font-weight: 400
    padding-top: 7px
    letter-spacing: 0.13px
    line-height: 10px

  .dishDescription--condensed
    font-size: 9.1px
    letter-spacing: -0.2px
    position: relative
    right: 2px


  .dishes__menu__title__img__wine
    position: relative
    right: 7.5px
    bottom: 1px

  .descr--position1
    position: relative
    bottom: 2px
  .descr--position2
    position: relative
    top: 4px


  .dishes__strip--green
    background-color: #204316
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 19.6px
    font-weight: 400
    text-transform: uppercase
    padding: 10px 0 7.6px 18px
    letter-spacing: 0.2px

  .title--position
    margin-bottom: 5px

  .title--position2
    margin-bottom: 5px
    position: relative
    top: 5px

  .footer
    margin-top: 46px
    background-color: #acd8ad
    color: #ffffff
    font-family: Montserrat, sans-serif
    font-size: 18px
    font-weight: 400
    display: flex
    justify-content: space-between
    padding: 8px

  .footer__img
    background: url("../img/navigation-logo.png") no-repeat
    width: 104px
    height: 83px
    padding: 8px

  .footer__text
    padding: 35px 117px 20px 41px
    display: flex

  .footer__text__description
    text-align: left
    width: 241px
    position: relative
    margin-right: 20px
    white-space: nowrap
    display: inline-block

@media screen and (min-width: 981px)
  .header
    background-color: #333d3f
    display: flex
    align-items: center
    justify-content: space-between

  .main
    //margin-top: 105px

  .dropdown
    position: relative

  .header__title
    display: none

  .dropdown-content
    background-color: #333d3f
    text-decoration: none
    display: block
    //position: absolute
    //left: 0
    //width: 100%
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
    color: #FFFFFF
    padding: 42px 5px

  .dropdown-link
    height: 14px
    color: #ebebeb
    font-family: Montserrat, sans-serif
    font-size: 15px
    font-weight: 400
    line-height: 26px
    text-transform: uppercase
    padding: 0 16px
    text-decoration: none
    display: inline-block
    text-align: left
    white-space: nowrap

    &:hover
      background-color: #f1f1f1
  .dropdown-link:first-child
    padding-left: 7px

  .menu__icon
    display: none

  .title-img
    background: url("../img/navigation-logo.png")
    width: 104px
    height: 83px
    position: absolute
    right: 30px
    top: 8px

  .background
    background: url("../img/back1200.png") no-repeat
    height: 649px
    background-size: cover

  .background__flexContainer
    padding: 40px 58px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 68px
    line-height: 68px

  .background__textContainer
    width: 561px
    height: 117px
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 50px
    font-weight: 700
    white-space: nowrap

  .background__link
    margin-top: 50px
    text-decoration: none
    color: #a6d6e0
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 700
    display: flex
    text-align: left

  .foodCategories
    display: flex
    justify-content: center
    align-items: center

  .foodCategories__category1, .foodCategories__category2, .foodCategories__category3
    margin-top: 6px
    display: flex
    height: 400px
    width: 400px
    text-decoration: none
    color: #FFFFFF
    justify-content: center
    align-items: center

  .foodCategories__category1
    background: url("../img/1-1200.png") no-repeat
    width: calc(100% / 3 )
    background-size: cover

  .foodCategories__category2
    background: url("../img/2-1200.png") no-repeat
    width: calc(100% / 3 )
    background-size: cover

  .foodCategories__category3
    background: url("../img/3-1200.png") no-repeat
    width: calc(100% / 3 )
    background-size: cover

  .foodCategories__text1, .foodCategories__text2, .foodCategories__text3
    color: #ffffff
    font-family: Lato, sans-serif
    font-size: 38px
    font-weight: 700

  .dishes__title__container
    display: flex
    justify-content: space-between
  .dishes__title
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 40px
    font-weight: 400
    text-transform: uppercase
    margin-top: 80px
    position: relative
    left: 20px
    bottom: 12px

  .dishes__description
    color: #cbccce
    font-family: Lato, sans-serif
    font-size: 20px
    font-weight: 400
    position: relative
    left: 18px
    margin-bottom: 16px

  .dishes__title__img
    background: url("../img/Menu_logo1200.png")
    width: 120px
    height: 98px
    position: relative
    right: 25px
    top: 20px

  .dishes__columnContainer
    display: flex

  .column1
    width: 100%

  .column2
    width: 100%
    position: relative
  //bottom: 24px

  .dishes__strip--dark
    background-color: #3f4043
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 38px
    font-weight: 400
    text-transform: uppercase
    padding: 22px 0 14px 36px
    letter-spacing: 0.4px


  .dishes__menu__title
    display: flex
    justify-content: space-between
    padding: 34px 34px 16px 34px

  .dishes__menu__title__text
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 400
    text-transform: uppercase
    position: relative

  .dishes__menu__title__img
    width: 50px
    height: 50px
    position: relative
    bottom: 6px
    left: 1px

  .dishes__menu__title__img1
    background: url("../img/snow640.png") no-repeat
  .dishes__menu__title__img2
    background: url("../img/wine640.png") no-repeat
  .dishes__menu__title__img3
    background: url("../img/cup640.png") no-repeat
    width: 65px
  .dishes__menu__title__img4
    background: url("../img/mug640.png") no-repeat

  .dishes__menu__itemsContainer
    padding: 0 34px
    margin-bottom: -18px

  .dishes__menu__item
    padding-bottom: 19.2px

  .dishes__menu__item__dishContainer
    display: flex
    justify-content: space-between

  .dishes__menu__item__dish
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 30px
    font-weight: 400
    letter-spacing: -0.3px
  .dishes__menu__item__price
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 25px
    font-weight: 700

  .dishes__menu__item__dishDescription
    color: #3f4043
    font-family: Lato, sans-serif
    font-size: 18px
    font-weight: 400
    padding-top: 14px
    letter-spacing: 0.1px
    line-height: 20px

  .dishDescription--condensed
    font-size: 18px
    letter-spacing: -0.2px
    position: relative
    right: 2px


  .dishes__menu__title__img__wine
    position: relative
    right: 7.5px
    bottom: 1px

  .descr--position1
    position: relative
    bottom: 2px
  .descr--position2
    position: relative
    top: 2px


  .dishes__strip--green
    background-color: #204316
    color: #acd8ad
    font-family: Lato, sans-serif
    font-size: 40px
    font-weight: 400
    text-transform: uppercase
    padding: 20px 0 14px 36px
    letter-spacing: 0.2px


  .title--position
    margin-bottom: 5px

  .title--position2
    margin-bottom: 5px
    position: relative
    top: 5px

  .footer
    margin-top: 46px
    background-color: #acd8ad
    color: #ffffff
    font-family: Montserrat, sans-serif
    font-size: 18px
    font-weight: 400
    display: flex
    justify-content: space-between
    padding: 8px

  .footer__img
    background: url("../img/navigation-logo.png") no-repeat
    width: 104px
    height: 83px
    padding: 8px

  .footer__text
    padding: 35px 117px 20px 41px
    display: flex

  .footer__text__description
    text-align: left
    width: 241px
    position: relative
    margin-right: 20px
    white-space: nowrap
    display: inline-block
