.container {
  width:1280px;
  text-align:center;
  margin:0 auto;

}

.header {
height:189px;
}

.area {
  display: inline-block;
  padding-right:950px;
    color: #16A085;
  height:74px;
  width:360px;
  font-size:74px;
  text-decoration:none;
  font-family:AdobeInvisFont,Courier,MyriadPro-Regular;
}
.title-black-piece {
  color:black
}

  .top-menu {
padding-top: 11px;
    background-color: #35444F;
    height: 79px;
    width: 1280px;
    margin-top: 25px;
    box-sizing: border-box;
 }

.top-menu-element {
    display:inline-block;
    vertical-align:top;
   /* width:191px;*/
   box-sizing:border-box;
    transform: translate(0px,-10px);
    padding: 29px 20px 31px 20px;
    margin-bottom:20px;
    color:#FFFFFF;
    font-family:AdobeInvisFont,Courier,MyriadPro-Regular;
}
.top-menu-element:hover
{
      background-color:#222F3A;
      transform: translate(0,-10px);
      margin-bottom:20px;
      box-sizing:border-box;
      padding:29px 20px 31px 20px;

}


.left-rectangle {
    display:inline-block;
    height:399px;
    width:344px;
    margin-right:125px;
    border: 1px solid;


}
.left-menu {display:inline-block;
padding:0px;
 width:344px;
 height:399px;
}

.left-menu-element {
    display:inline-block;
    font-size:30px;
    padding:22px 0px 22px 10px;
    text-align:left;
    width:333px;
    font-family:AdobeInvisFont,Courier,MyriadPro-Regular;
    color:#485863;
}
.left-menu-element:hover {
    background-color:#DBDBDB;
    padding-right:0px;
    padding-left:30px;
    width:314px;
}
.img-fon {
    height:529px;
   vertical-align:top;
    display: inline-block;
    width: 800px;
    border: 1px solid;
}

.image {
    height:380px;
    width:320px;
    margin-top:55px;
    margin-left: 50px;
}
.content {
    margin-left:600px;
    text-align:left;
    font-size:18px;
    font-family:AdobeInvisFont,Courier,MyriadPro-Regular;
    color:#2C2C2C;
}
.bottom-menu {
  display:inline-block;
  background-color: #63696E;
  height:70px;
  width:1280px;
  text-align:left;
}
.bottom-menu-element {
  display:inline-block;
  height:26px;
  color:#0C1927;
  font-size:28px;
  padding: 20px 10px 0px;


}

.copyright {
padding: 30px 0px 0px 200px;
font-size:24px;
font-family: AdobeInvisFont,Courier,MyriadPro-Regular;
color:#0C1927;

}

.bottom-menu-element:hover{
color: #16A085;
text-decoration:underline;
}