

.menu {
            padding: 27px;
            text-align: center;
            height: 25px;
        }

.menu-element {
    text-transform: uppercase;
    margin:30px;
    color: #16A085;
    text-decoration:none;
    font-size: 22px;
    font-weight: bold;
    font-family: AdobeInvisFont,Roboto-Black,Courier;
}

.block {
        width:auto;
   }

.container {
    width:1059px;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #373737;
}
.title {
    text-transform: uppercase;
  
    font-size: 22px;
    
}
.paragraph1 {
    font-size: 16px;
    margin-bottom:22px;
}
.paragraph2 {
    font-size: 16px;
}

.button-start {
    font-family: GothamRounded-Bold,AdobeInvisFont,MyriadPro-Regular;
    padding : 20px 50px 15px 50px;
    text-transform: uppercase;
    color:white;
    background: #16A085;
    border: 1px solid #999;
    text-align: center;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 94px;
}

.copyright {
    text-align: right;
    width:1059px;
    margin: 0 auto;
    font-weight: bold;
    color: #373737;
}